@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply w-full px-4 py-2 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-400;
}

.btn {
  @apply w-full py-2 bg-blue-400 text-white font-semibold rounded-xl hover:bg-blue-500 transition;
}

@keyframes float {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
}

.animate-float-slow {
  animation: float 10s ease-in-out infinite;
}

.animate-float-medium {
  animation: float 6s ease-in-out infinite;
}

.animate-float-fast {
  animation: float 4s ease-in-out infinite;
}
